#rose-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff4d6d;
  color: rgb(145, 31, 31);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
}

#rose-box {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: rgb(161, 72, 72);
  border-radius: 12px;
  border: 1px solid #da8592;
  display: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  z-index: 999;
}

#rose-header {
  background: #e66d6d;
  color: rgb(173, 76, 76);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#rose-body {
  padding: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.rose-msg {
  background: #af5656;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
}

.rose-btn {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border: none;
  background: #ff7043;
  color: rgb(136, 65, 65);
  cursor: pointer;
  border-radius: 6px;
}
.rose-btn:hover {
  background: #ff6f91;
}